  <footer class="bg-secondary text-white pb-12">
    <div class="container flex items-center justify-center">
      <div class="px-10">
      <h2 class="text-center text-xl mb-8 uppercase">Monstera</h2>
      <ul class="flex items-center text-center">
        <li><a class="text-lg" href="#">Facebook</a></li>
        <li><a class="text-lg ml-8" href="#">Twitter</a></li>
        <li><a class="text-lg ml-8" href="#">Instagram</a></li>
      </ul>
      </div>
    </div>
  </footer>