<header class="w-full absolute flex justify-between items-center">
  <h3 class="font-bold text-black uppercase py-6 pl-24">Monstera</h3>
  <ul class="flex items-center text-center pr-24">
    <li class="ml-8"><a href="/about">About</a></li>
    <li class="ml-8"><a href="/about">Projects</a></li>
  </ul>
</header>